header {
	font-size: xx-large;
	margin: 0.5em;
}

nav {
	clear: both;
	overflow: hidden;
	padding: 0.5em;
	background-color: #800080;
	color: #fff;
	white-space:nowrap;
	overflow-x: auto;
}

@media (min-height: 30em) {
	nav {
		position: sticky;
		top: 0;
	}
}

nav p:first-child {
	margin-top: 0;
}

nav p:last-child {
	margin-bottom: 0;
}

nav a {
	margin: 0.5em;
	color: #fff;
}

nav a:hover {
	background-color: #800080;
	color: #aaa;
}

#thisSite {
	color: #aaa;
}

#changed {
	float: right;
	font-size: x-small;
	margin: 0.5em;
}

main {
	padding: 0.5em;
	max-width: 80em;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 30em) {
	.right {
		float: right;
	}
}

body {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", Helvetica, sans-serif;
	background-color: #fff;
	color: #000;
}

a {
	text-decoration: none;
	color: #800080;
}

a:hover {
	background-color: #eee;
}

dt {
	float: left;
	clear: left;
	width: 20%;
	text-align: right;
}

dd {
	margin: 0 0 0 20%;
	padding: 0 0 0.75em 0.5em;
}

li {
	padding-bottom: 0.25em;
}

img {
	max-width: 100%;
	padding-left: 20px;
}

video {
	max-width: 100%;
}
